# Eat Safe, Love

## Part 1: Database and Jupyter Notebook Set Up

Import the data provided in the `establishments.json` file from your Terminal. Name the database `uk_food` and the collection `establishments`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

e.g.: Import the dataset with `YOUR IMPORT TEXT HERE`

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'config', 'local', 'uk_food']

In [4]:
# assign the uk_food database to a variable name
client = MongoClient()
uk_food_db = client['uk_food']
establishments_collection = uk_food_db['establishments']

In [5]:
# review the collections in our new database
# List the collections in the uk_food database
collections = uk_food_db.list_collection_names()

# Print the list of collections
print(collections)

['establishments']

In [6]:
# review the collections in our new database

establishments = uk_food_db['establishments']

In [7]:
# review a document in the establishments collection
document = establishments.find_one()
pprint(document)

{'_id': ObjectId('64ef29f5f01962fa7e6c933b')}

## Part 2: Update the Database

1. An exciting new halal restaurant just opened in Greenwich, but hasn't been rated yet. The magazine has asked you to include it in your analysis. Add the following restaurant "Penang Flavours" to the database.

In [8]:
# Create a dictionary for the new restaurant data
new_restaurant = {
    "name": "Penang Flavours",
    "address": "Greenwich",
    "cuisine": "Halal",
    "rating": None 
}

In [9]:
# Insert the new restaurant into the collection

insert_result = establishments_collection.insert_one(new_restaurant)
print("Inserted ID:", insert_result.inserted_id)

Inserted ID: 64ef2ae3c1efc988ea5be3f0

In [10]:
# Check that the new restaurant was inserted
new_restaurant_query = {"name": "Penang Flavours"}

# Find and display the new restaurant document
new_restaurant = establishments_collection.find_one(new_restaurant_query)
pprint(new_restaurant)

{'_id': ObjectId('64ef2a090e05ee1df7a7abec'),
 'address': 'Greenwich',
 'cuisine': 'Halal',
 'name': 'Penang Flavours',
 'rating': None}

2. Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the `BusinessTypeID` and `BusinessType` fields.

In [11]:
# Find the BusinessTypeID for "Restaurant/Cafe/Canteen" and return only the BusinessTypeID and BusinessType fields
# Query for the specific BusinessType
query = {"BusinessType": "Restaurant/Cafe/Canteen"}

# Projection to include only BusinessTypeID and BusinessType fields
projection = {"_id": 0, "BusinessTypeID": 1, "BusinessType": 1}

# Find documents matching the query with the desired projection
business_type_info = establishments_collection.find(query, projection)

# Print the documents
for doc in business_type_info:
    print(doc)

3. Update the new restaurant with the `BusinessTypeID` you found.

In [12]:
# Update the new restaurant with the correct BusinessTypeID
# Set the new BusinessTypeID
new_business_type_id = "1" 

# Update the restaurant document
update_result = establishments_collection.update_one(
    query,
    {"$set": {"BusinessTypeID": new_business_type_id}}
)

# Print the result
print("Matched Count:", update_result.matched_count)
print("Modified Count:", update_result.modified_count)

Matched Count: 0
Modified Count: 0

In [13]:
# Confirm that the new restaurant was updated

# Find and display the updated restaurant document
updated_restaurant = establishments_collection.find_one(query)
pprint(updated_restaurant)

None

4. The magazine is not interested in any establishments in Dover, so check how many documents contain the Dover Local Authority. Then, remove any establishments within the Dover Local Authority from the database, and check the number of documents to ensure they were deleted.

In [14]:
Dover_documents = establishments.count_documents({'LocalAuthorityName': 'Dover'})
Dover_documents

0

In [15]:
# Find how many documents have LocalAuthorityName as "Dover"
dover_query = {"LocalAuthorityName": "Dover"}

# Count the number of documents with LocalAuthorityName as "Dover"
num_dover_establishments = establishments_collection.count_documents(dover_query)
print("Number of establishments in Dover:", num_dover_establishments)

Number of establishments in Dover: 0

In [16]:
# Delete all documents where LocalAuthorityName is "Dover"
dover_query = {"LocalAuthorityName": "Dover"}

# Delete documents with LocalAuthorityName as "Dover"
delete_result = establishments_collection.delete_many(dover_query)
print("Number of documents deleted:", delete_result.deleted_count)

Number of documents deleted: 0

In [17]:
# Check if any remaining documents include Dover
dover_query = {"LocalAuthorityName": "Dover"}

# Find and display one document with LocalAuthorityName as "Dover"
remaining_dover_document = establishments_collection.find_one(dover_query)

# Check if there's any remaining document with "Dover"
if remaining_dover_document:
    print("Remaining document with Dover:")
    pprint(remaining_dover_document)
else:
    print("No remaining documents with Dover")

No remaining documents with Dover

In [18]:
# Check that other documents remain with 'find_one'
any_remaining_document = establishments_collection.find_one()

# Check if there's any remaining document
if any_remaining_document:
    print("At least one remaining document:")
    pprint(any_remaining_document)
else:
    print("No remaining documents")

At least one remaining document:
{'_id': ObjectId('64ef29f5f01962fa7e6c933b')}

5. Some of the number values are stored as strings, when they should be stored as numbers. Use `update_many` to convert `latitude` and `longitude` to decimal numbers.

In [19]:
# Change the data type from String to Decimal for longitude
update_result = establishments_collection.update_many(
    {"longitude": {"$type": "string"}},
    [{"$set": {"longitude": {"$toDouble": "$longitude"}}}]
)

# Print the result
print("Modified Count:", update_result.modified_count)

Modified Count: 0

In [20]:
# Change the data type from String to Decimal for latitude
update_result = establishments_collection.update_many(
    {"latitude": {"$type": "string"}},
    [{"$set": {"latitude": {"$toDouble": "$latitude"}}}]
)

# Print the result
print("Modified Count:", update_result.modified_count)

Modified Count: 0

In [21]:
# Check that the coordinates are now numbers
document_with_coordinates = establishments_collection.find_one()

# Display the document to check coordinates
pprint(document_with_coordinates)

{'_id': ObjectId('64ef29f5f01962fa7e6c933b')}